.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/fileHashes/fileHashes.lock
.gradle/4.4/javaCompile/classAnalysis.bin
.gradle/4.4/javaCompile/javaCompile.lock
.gradle/4.4/javaCompile/taskHistory.bin
.gradle/4.4/taskHistory/taskHistory.bin
.gradle/4.4/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
app/app.iml
build/android-profile/profile-2018-11-22-21-35-06-987.json
build/android-profile/profile-2018-11-22-21-35-06-987.rawproto
build/android-profile/profile-2018-11-22-21-35-08-570.json
build/android-profile/profile-2018-11-22-21-35-08-570.rawproto
build/android-profile/profile-2018-11-22-21-35-28-209.json
build/android-profile/profile-2018-11-22-21-35-28-209.rawproto
build/android-profile/profile-2018-11-22-21-43-02-268.json
build/android-profile/profile-2018-11-22-21-43-02-268.rawproto
build/android-profile/profile-2018-11-22-21-43-39-244.json
build/android-profile/profile-2018-11-22-21-43-39-244.rawproto
build/android-profile/profile-2018-11-22-21-44-10-507.json
build/android-profile/profile-2018-11-22-21-44-10-507.rawproto
build/android-profile/profile-2018-11-22-21-47-03-108.json
build/android-profile/profile-2018-11-22-21-47-03-108.rawproto
build/android-profile/profile-2018-11-22-21-48-26-882.json
build/android-profile/profile-2018-11-22-21-48-26-882.rawproto
build/android-profile/profile-2018-11-22-21-50-34-597.json
build/android-profile/profile-2018-11-22-21-50-34-597.rawproto
build/android-profile/profile-2018-11-22-21-51-15-978.json
build/android-profile/profile-2018-11-22-21-51-15-978.rawproto
